body {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--fz-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
}

h3 {
  font-size: var(--fz-h3);
  line-height: var(--lh-h3);
}

h4 {
  font-size: var(--fz-h4);
  line-height: var(--lh-h4);
}

p {
  font-size: var(--fz-p);
  line-height: var(--lh-p);
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}