@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
	--font-family: 'Bruno Ace SC', sans-serif, PingFang, Microsoft JhengHei;
  --fz-h1: 128px;
  --fz-h2: 64px;
  --fz-h3: 24px;
  --fz-h4: 20px;
  --fz-p: 16px;
  --lh-h1: 192px;
  --lh-h2: 96px;
  --lh-h3: 36px;
  --lh-h4: 30px;
  --lh-p: 24px;
}