.btn {

  a {
    font-size: var(--fz-p);
    line-height: var(--lh-p);
    padding: 12px 24px;
    border-radius: 32px;
    display: inline-flex;
    margin-left: auto;

    img {
      margin-left: 4px;
    }
  }
}